* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*The Core*/
body {
    background-image: url(https://images.pexels.com/photos/5922856/pexels-photo-5922856.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}
canvas{
    box-shadow: black 20px 10px 50px
}
/*How to play*/
#text {
    text-align: center;
    float: right;
}
.text{
    color: white;
    text-align: center;
    font-size: 19px;
    width: 30%;
    height: fit-content;
    display:inline-block;
    justify-content: center;
    text-align: center;
}
/*Toolbar*/
.toolbar {
    justify-content: center;
}
/*Play Again Button*/
button {
    border: none;
    border-radius: 20px;
    font-family: inherit;
    font-size: 1rem;
}
button:hover {
    cursor: pointer;
    background-color: bisque;
}
.playagain {
    background-color: wheat;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    justify-content: center;
}
#playagain {
    display:inline-block;
    margin-right:10px;;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
}
/*Grid*/
#grid {
    display:inline-block;
}
.grid {
    cursor: pointer;
}
/*Theme*/
#theme {
    display:inline-block;
    margin-right:10px;
}
/*Score*/
#score {
    display:inline-block;
    margin-right:10px;
}
#highscore {
    display:inline-block;
    margin-right:10px;
}