* {
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
/*The Core*/
body {
    background-color: darkslategray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}
canvas{
    box-shadow: black 20px 10px 50px
}
/*How to play*/
#text {
    text-align: center;
    float: right;
}
.text{
    color: white;
    text-align: center;
    font-size: 19px;
    width: 30%;
    height: fit-content;
    display:inline-block;
    justify-content: center;
    text-align: center;
}
h1 {
    margin-bottom: 1rem;
}